html
{
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    font-weight: 5;
    text-align: center;
    background-color: black;
    color: white;
}

h1
{
    font-family: Arial;
    margin: 5px;
    padding: 5px;
}

.intro
{
    font-size: 1.3rem;
    font-weight: 10;
    margin: 5px;
    padding: 5px;
}

.container
{
    display: grid;
    position: relative;
    left: 300px;
    top: 50px;
    bottom: 50px;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    width: 450px;
    height: 300px;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px 200px;
    grid-auto-flow: column;
}

.container p
{
    margin: 5px;
    padding: 5px;
}

button
{
    margin: 20px;
    padding: 20px;
    width: 60px;
    height: 20px;
    color: black;
    background-color: gray;
    text-align: center;
    align-self: center;
    justify-self: center;
}

.items
{
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    grid-column-start: auto;
    font-size: 1.1rem;
    font-weight: 7;
}

img
{
    width: 120px;
    height: 120px;
}

figcaption
{
    font-size: 0.7rem;
}

footer
{
    position: relative;
    top: 100px;
    text-align: left;
    font-family: Georgia, sans-serif;
    font-size: 0.8rem;
    font-weight: 7;
}